a {
  color: #BBBBFF;
}

body {
  font-family: Times New Roman;
  background-image: url("./imgs/background.png");
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.3em;
}

.warning {
  color: #EE5533;
}

.title {
  font-size: 16px;
  font-weight: 600;
}

div.container {
  margin: 20px auto 0px auto;
  padding: 20px;
  border-style: solid;
  border-width: 12px;
  border-radius: 12px;
  -moz-border-image: url("./imgs/TextboxBorder.png") 20 20 repeat;
  border-image: url("./imgs/TextboxBorder.png") 20 20 repeat;
  background-color: rgba(0,0,0,0.45);
  color: #ffffff;
  width: 1200px;
  overflow: hidden;
}

fieldset {
  border-width: 0px;
  width: 280px;
  float: left;
}

fieldset dt {
  float: left;
  width: 130px;
  text-align: left;
}

fieldset dd {
  margin-left: 140px;
  width: 55%
}

.header {
  text-align: center;
  font-weight: 600;
}

#output, #table {
  width: 800px;
  float: left;
  margin-left: 50px;
}

.digimon {
  background-repeat: no-repeat;
  background-position: 1px 0px;
  padding-left: 18px;
}

select.digimon {
  background-position: 1px 1px;
  width: 160px;
}

.score {
  text-align: right;
}

footer {
  margin: 20px auto 0px auto;
  padding: 20px;
  background-color: rgba(0,0,0,0.1);
  min-width: 600px;
  max-width: 1200px;
  border-radius: 8px;
  overflow: hidden;
}

input[type="number"] { 
  width: 150px; 
}

.prioritized {
  background-color: rgba(0,100,00,0.8);
}

.priority {
  border-collapse: collapse;
  border-color: #333333;
}

.requirements {
  display: flex;
  justify-content: space-between;
  border: none;
}

.fulfilled {
  border: solid 2px rgba(0, 255, 0, 1);
}

.notFulfilled {
  border: solid 2px rgba(255, 0, 0, 1);
}

td, th, tr {
  border-style: solid;
  border-color: #dddddd;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
}

#careLabel, #happinessLabel, #disciplineLabel, #battleLabel, #requirementHeader {
  text-decoration: underline dotted;
}
